body {
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-left: 0;
  margin-right: 1rem;
}

#newtodo {
  padding: 0.5rem;
  margin: 5px;
}

#boto {
  display: inline;
  width: 2rem;
  font-size: 1rem;
}
#bot {
  padding: 0px;
  margin-left: 10px;
}

li {
  margin: 7px;
}
